In [1]:
%reset -fs

In [2]:
from pymongo import MongoClient
import pandas as pd
from datetime import datetime

In [3]:
client = MongoClient()

In [4]:
df = pd.read_csv('betting_data.csv', index_col=0)
df

,Date,Name,Team,Position,Opp,Home/Away,Line,Moneyline,Projection,Diff,Pick,Result,over_under,seven_day_accuracy,successful_pick
0,2021-10-21,Bogdan,ATL,G,DAL,vs.,15.5,-115,16.57,1.07,15.5,NaN,o,0.47,0
1,2021-10-23,Bogdan,ATL,G,CLE,@,14.5,-115,15.29,0.79,14.5,NaN,o,0.45,0
2,2021-10-25,Bogdan,ATL,G,DET,vs.,15.5,-115,12.85,-2.65,15.5,NaN,u,0.45,0
3,2021-10-27,Bogdan,ATL,G,NOR,@,12.5,-125,13.70,1.20,12.5,NaN,o,0.45,0
4,2021-10-28,Bogdan,ATL,G,WAS,@,12.5,-105,16.72,4.22,12.5,NaN,o,0.42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14409,2022-03-08,Ziaire Williams,MEM,G,NOR,vs.,6.5,-110,7.30,0.80,6.5,NaN,o,0.46,0
14410,2022-03-11,Ziaire Williams,MEM,G,NYK,vs.,7.5,-115,7.30,-0.20,7.5,NaN,u,0.50,0
14411,2022-03-15,Ziaire Williams,MEM,G,IND,@,8.5,-130,7.60,-0.90,8.5,NaN,u,0.46,0
14412,2022-03-23,Ziaire Williams,MEM,G,BKN,vs.,7.5,-105,6.20,-1.30,7.5,NaN,u,0.46,0
14413,2022-03-24,Ziaire Williams,MEM,G,IND,vs.,11.5,-105,8.80,-2.70,11.5,NaN,u,0.42,0

In [5]:

max_date = max(df.Date)

In [6]:
max_date

'2022-03-30'

In [7]:
type(max_date)

str

In [8]:
max_date = datetime.strptime(max_date, '%Y-%m-%d')

In [9]:
max_date

datetime.datetime(2022, 3, 30, 0, 0)

In [14]:
today = datetime.today()

In [15]:
today

datetime.datetime(2022, 3, 30, 21, 52, 2, 538965)

In [16]:
today - max_date

datetime.timedelta(seconds=78722, microseconds=538965)

In [20]:
range = pd.date_range(max_date, today)

In [21]:
range

DatetimeIndex(['2022-03-30'], dtype='datetime64[ns]', freq='D')

In [23]:
range[0].date()

datetime.date(2022, 3, 30)

In [24]:
for i in range:
    print(i.strftime('%Y-%m-%d'))

2022-03-30